@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
}
body {
  font-size: 1.5rem;
  line-height: 1.867;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Sans", system-ui;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 327px;
  margin-inline: auto;
}
.links-container {
  display: none;
}
.nav-div {
  margin-top: 16px;
  place-content: center;
  width: 100%;
}
.nav-div-inner {
  display: flex;
  justify-content: space-between;
}
.nav-right {
  display: flex;
}
.logo-image {
  width: 202px;
  height: 27px;
}
.mobile-menu {
  margin-top: -0.875rem;
  display: flex;
  align-items: center;
}
.mobile-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: uppercase;
  padding-left: 24px;
}
.mobile-nav li .links {
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
}
.mobile-nav {
  margin-block: 48px;
}
.mobile-links {
  color: #ffffff;
  font-size: 24px;
  font-family: "DM Sans", system-ui;
  font-weight: regular;
}
.sidebar-invisible {
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: width 0.2s ease-in-out;
}
.sidebar-invisible .mobile-nav {
  opacity: 0;
}
.sidebar-visible {
  top: 0;
  background-color: #000;
  z-index: 1000;
  position: fixed;
  left: 0;
  margin-top: 4.5rem;
  width: 100%;
}
