.hero-section {
  display: flex;
  background-color: #e7816b;
  height: 843px;
}
.hero {
  position: relative;
  overflow: hidden;
}
.circular-div {
  position: absolute;
  top: 50%;
  left: calc(40% - 150px);
  transform: translateY(-48.9%);
  z-index: 1;
}
.hero-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
  position: relative;
}
.hero-text {
  width: 87%;
  margin-top: 80px;
}
.hero-text h2 {
  color: #fff;
  font-size: 32px;
  font-weight: medium;
  line-height: 36px;
  letter-spacing: -1.2px;
}
.hero-text p {
  color: #fff;
  font-size: 15px;
  font-weight: regular;
  margin-top: 14px;
}
.btn {
  display: flex;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 16px 24px;
  margin-top: 24px;
  position: relative;
  z-index: 2;
}
.hero-image {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 281.07px;
  margin-top: -80px;
}
.phone-img {
  position: absolute;
  height: auto;
  z-index: 3;
}

/* Design */
.design-section {
  display: grid;
  margin-top: 120px;
  place-items: center;
  background-color: #f8f8f8;
}
.design-div {
  position: relative;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 4/3;
  overflow: hidden;
  border-radius: 15px;
  margin-top: 24px;
}
.design-image {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  display: block;
}
.image-text {
  position: absolute;
  color: #fff;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}
.image-text h1 {
  font-size: 28px;
  font-weight: medium;
  letter-spacing: 1.4px;
  line-height: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds the shadow effect to the text */
  margin: 0 0 10px;
}
.image-text h2 {
  font-size: 15px;
  margin-right: 8px;
  font-weight: medium;
  line-height: auto;
  letter-spacing: 5px;
}
.design-click {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
}
.design-click svg path {
  stroke: #e7816b;
  transition: stroke 0.3s ease;
}

.design-click:hover svg path {
  stroke: white;
}

/* About */
.about-section {
  display: flex;
}
.about {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}
.about-div {
  margin-top: 80px;
  color: #333136;
}
.about-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: 24px;
}
.about-details h6 {
  font-size: 20px;
  font-weight: medium;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 26px;
}
.about-details p {
  font-size: 16px;
  font-weight: regular;
  letter-spacing: 0px;
  line-height: 26px;
}
